* {
    box-sizing: border-box;
}

@font-face {
    font-family: Asana-Math;
    src: url("fonts/Asana-Math.otf");
}

@font-face {
    font-family: Latin-Modern;
    src: url("fonts/latinmodern-math-1959/otf/latinmodern-math.otf");
}

@font-face {
    font-family: STIX;
    src: url("fonts/STIX/STIXTwoMath-Regular.otf");
}


math {
    font-family: Latin-Modern;
}

html {
    font-size: 18px;
}

body {
    text-align: center;
}

#tex {
    font-size: 1em;
    display: block;
    width: 100%;
    min-height: 8em;
    padding: 0.5em;
}

#output {
    min-height: 3em;
    margin: 1em;
    font-size: 2em;
}

#credit {
    font-size: smaller;
    color: #666;
    margin-top: 5em;
}

dt {
    font-weight: bold;
}
dl {
    text-align: start;
    margin: 2em;
}
