* {
    box-sizing: border-box;
}

@font-face {
    font-family: Asana-Math;
    src: url("fonts/Asana-Math.otf");
}

@font-face {
    font-family: Latin-Modern;
    src: url("fonts/latinmodern-math-1959/otf/latinmodern-math.otf");
}

@font-face {
    font-family: Luciole;
    src: url("fonts/Luciole-Math/Luciole-Math.otf");
}

@font-face {
    font-family: STIX;
    src: url("fonts/STIX/STIXTwoMath-Regular.otf");
}

:root {
    --math-font: Latin-Modern;
}

math {
    font-family: var(--math-font);
}

html {
    font-size: 18px;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: 20svh 1fr auto;
    min-height: 100svh;
    margin: 0;
    padding: 0.5em;
}

input[type="range"] {
    vertical-align: middle;
}

#tex {
    font-size: 1em;
    display: block;
    width: 100%;
    min-height: 8em;
    padding: 0.5em;
    resize: none;
}

#output {
    min-height: 3em;
    margin: 1em;
    --size: 2;
    font-size: calc(1em * var(--size));
    align-self: center;
}

#credit {
    font-size: smaller;
    color: #666;
    margin-top: 5em;
}

dt {
    font-weight: bold;
}
dl {
    text-align: start;
    margin: 2em;
}

