* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    text-align: center;
}

#tex {
    font-size: 1em;
    display: block;
    width: 100%;
    min-height: 8em;
    padding: 0.5em;
}

#output {
    min-height: 3em;
    margin: 1em;
    font-size: 2em;
}

#credit {
    font-size: smaller;
    color: #666;
    margin-top: 5em;
}
